  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100&display=swap');

main{
    display: flex;
}
.left{
    background-image: url(/images/Frame.png);
    height: 100vh;
    background-size: cover;
    flex-basis: 50%;
   
   
}
.right{
    padding-top: 120px;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 45px;
    padding-top: 23px;
    
}
.frame{
    position: relative;
}

.social-media{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    font-family: 'Geologica', sans-serif;
    color: #4F4F4F;
    font-size: 15px;
}

li{
    cursor: pointer;
    margin-bottom: 35px;
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 5px 0;
    border-radius: 15px;
    border: 1px solid #CCC;
    
}
.social-media i{
    padding-right: 14px;
    color: #03A9F4;
}

h1{
    text-align: center;
    font-family: 'Geologica', sans-serif;
    color: #4F4F4F;
    
}
h3{
    text-align: center;
    margin-top: 15px;
    font-family: 'Geologica', sans-serif;
    color: #4F4F4F;
    font-weight:100;
    font-size: 20px;
    
}
form {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
  
  }
.form{
    display: flex;
    flex-direction: column;
    row-gap: 36px;

   
}
.form input{
   border: 1px solid #CACACA; 
   box-shadow: 2px 4px 6px 0px rgba(79, 79, 79, 0.15);
   padding: 5px;
   font-family: 'Geologica', sans-serif;
    color: #4F4F4F;
    font-weight:10;
    font-size: 13px;

}
button{
    font-family: 'Geologica', sans-serif ;
    font-size: small;
    background-color: #03A9F4;
    color: white;
    border-radius: 50px ;
    border: none;
    padding: 8px ;
    box-shadow: 2px 4px 6px 0px rgba(79, 79, 79, 0.15);
    cursor: pointer;
    
}
.form i{
    padding-right: 8px;
    color: #CACACA;
    cursor: pointer;
}
.form p{
    font-weight: 100;
    font-size: 15px;
    font-family: 'Geologica', sans-serif ;
}